mjml
  mj-body
    mj-container(background-color="#E1E8ED")
      mj-section(padding="20px" background-color="white")
        mj-image(href="https://devternity.com" src="https://devternity.com/images/dt_logo_rect.png" width="50px")
      mj-section(padding="20px" background-color="white")
        mj-column(width="100%")
          mj-text(align="center")
            h2 Hey there! How's it going? 👋
          mj-text(align="center" color="grey") We are happy to announce that registration to 
            b: a(href="https://devternity.com") #{data.theme}
            |  is open.
          mj-text(align="center" color="grey") This year you can enjoy #{data.talks_total} premium-quality talks and choose among #{data.workshops_total} hands-on power workshops.
          mj-text(align="center" color="grey") The topics include 
            each buzzword in data.buzzwords
              b #{buzzword}
              |, 
            |  and a lot more.
          mj-text(align="center" color="grey") DevTernity has become the major IT event in the Baltics, attracting #{data.attendees_total} forward-thinking developers, architects and engineering leaders. Be part of the movement.

      mj-section(background-color="#f3f3f3" padding-top="20px")
        mj-text(align="center" color="#a5b0b8")
          h2 Some of our speakers

      each program in data.program
        if program.event == "keynotes"
          each speech in program.schedule
            if speech.pitch
              mj-section(background-color="#f3f3f3" padding-top="20px")
                mj-column(width="130")
                  mj-image(src=`https://devternity.com/${speech.img}` width="100" border-radius="100px")
                mj-column(width="350")
                  mj-text(align="center" font-size="16" color="grey") #{speech.name} (#{speech.country_long})
                  mj-text(align="center" color="grey") #{speech.pitch}

      mj-section(background-color="#ffffff" padding-top="20px")
        mj-text(align="center" color="#a5b0b8")
          h2 What people say


      each promo in data.promos
        mj-section(background-color="#ffffff")
          mj-column(width="200")
            mj-image(href=`${promo.link}` src=`https://devternity.com/images/${promo.logo}` width="200")
          mj-column(width="350")
            mj-text(align="center" color="grey") #{promo.promo}
            mj-text(align="center" color="grey") – #{promo.signature}

      mj-section(background-color="#ffffff" padding-top="20px")
        mj-column(width="100%")
          mj-button(href=`${data.selfLink}` background-color="#3ba666" color="white") Secure a seat now

      mj-section(background-color="#ffffff" padding-top="20px")
        mj-column(width="100%")
          mj-divider(border-width="1px" border-style="dashed" border-color="lightgrey")
          mj-text(align="center" color="grey" font-size="11")
            | Not interested in the top conference in #{data.city}? 
            a(href="[Unsubscribe]") we got you covered